/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    margin-top: 50px;
    padding: 20px;
}

/* Campo de entrada y botón */
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #f4b400;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e09b00;
}

/* Contenedor de información del Pokémon */
#pokemonInfo {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
}

/* Barra de navegación */
.c-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.c-nav-item {
    padding: 10px;
    background-color: #f4b400;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.c-nav-item:hover {
    background-color: #e09b00;
}
