body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

.container {
    margin-top: 50px;
}

#pokemonInfo {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
}
